# Virtual environments
venv/
.venv/
env/

# Python cache
__pycache__/
*.pyc

# Build artifacts
build/
dist/
*.egg-info/

# Environment variables
.env

node_modules


# Maven
target/

# Spring Boot config (your case)
.env

# Terraform files
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/crash.log
**/crash.*.log
**/*.tfvars
**/*.tfvars.json
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json
**/.terraformrc
**/terraform.rc
**/lambda_function_payload.zip
k8s/backend/secret.yml
