* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f4f7fb;
  font-family: "Segoe UI", sans-serif;
}

.dashboard {
  min-height: 100vh;
}

/* Navbar */

.navbar {
  height: 70px;
  background: #232f3e;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.user-profile {
  font-size: 14px;
}

/* Hero */

.hero {
  text-align: center;
  padding: 60px 20px;
  background: linear-gradient(
    135deg,
    #232f3e,
    #37475a
  );
  color: white;
}

.hero h1 {
  font-size: 42px;
  margin-bottom: 15px;
}

.hero p {
  max-width: 700px;
  margin: auto;
  opacity: 0.9;
}

/* Upload */

.upload-section {
  display: flex;
  justify-content: center;
  margin-top: -40px;
}

.upload-card {
  width: 700px;
  background: white;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 10px 35px rgba(0,0,0,0.1);
  text-align: center;
}

.aws-icon {
  font-size: 50px;
  margin-bottom: 15px;
}

.upload-card h2 {
  margin-bottom: 10px;
}

.dropzone {
  display: block;
  margin-top: 25px;
  border: 3px dashed #ff9900;
  border-radius: 16px;
  padding: 40px;
  cursor: pointer;
  transition: 0.3s;
}

.dropzone:hover {
  background: #fff8ec;
}

.dropzone input {
  display: none;
}

.upload-icon {
  font-size: 50px;
  margin-bottom: 10px;
}

.upload-content h3 {
  margin-bottom: 8px;
}

.upload-content span {
  color: #666;
}

.file-preview {
  margin-top: 20px;
  padding: 12px;
  background: #eef7ff;
  border-radius: 10px;
}

.upload-btn {
  margin-top: 25px;
  width: 100%;
  padding: 14px;
  border: none;
  background: #ff9900;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.upload-btn:hover {
  background: #e68a00;
}

/* Features */

.features {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 60px 30px;
  flex-wrap: wrap;
}

.feature-card {
  width: 280px;
  background: white;
  padding: 25px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 5px 18px rgba(0,0,0,0.08);
}

.feature-icon {
  font-size: 42px;
  margin-bottom: 15px;
}

.feature-card h3 {
  margin-bottom: 10px;
}